{% extends 'ecommerce/base.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <title>Index</title>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#!">
                <div>Ecommerce Site</div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Ecommerce</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to Ecommerce Site</p>
            </div>
        </div>
    </header>

    <div>
        {% for message in messages %}
            <div class="alert {{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <div class="container text-center">
        <br>
        <br>
        <a href="{% url 'vendor_login' %}">
            <button class="btn btn-outline-dark col-sm-2">Vendor Login</button>
        </a>
        <br>
        <br>
        <a href="{% url 'vendor_signup' %}">
            <button class="btn btn-outline-dark col-sm-2">Vendor Signup</button>
        </a>
        <br>
        <br>
        <a href="{% url 'customer_login' %}">
            <button class="btn btn-outline-dark col-sm-2">Customer Login</button>
        </a>
        <br>
        <br>
        <a href="{% url 'customer_signup' %}">
            <button class="btn btn-outline-dark col-sm-2">Customer Signup</button>
        </a>
        <br>
        <br>
        <a href="{% provider_login_url 'google' %}">
            <button class="btn btn-outline-dark col-sm-2 g-signin2">
                Login with
                <i class="bi bi-google"></i>
            </button>
        </a>
    </div>
    <br>
    <br>
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
    </footer>
{% endblock content %}
